<!DOCTYPE html>
<html>
<head>
  <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href= <%= root_path%>>Magnum</a>
    <ul class="nav">
      <li class=""><a href= <%=  forums_path %>> Forums </a></li>
      <li class=""><a href= <%=  new_forum_path %>> New Topic </a></li>
    </ul>
  </div>
</div>
  <title>Magnum</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="site">

    <div id="main">
      <%= yield %>
    </div> <!-- div#main -->
  </div> <!-- div#site -->
</body>


  <!-- <div class="footer">
      <p>Lumberjack Labs</p>
  </div>  div#site --> 


</html>
